*.log
node_modules/
test/
tmp/
build/
*.bak

# Ignore git directory.
/.git/
/.gitignore

# Ignore CI service files.
/.github

# Ignore development files
/.devcontainer

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
